<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="com.project.melon.model.MemberVO" alias="memberVo"/>
		<typeAlias type="com.project.melon.model.PlayListVO" alias="playListVo"/>
		<typeAlias type="com.project.melon.model.SongVO" alias="songVo" />
		<typeAlias type="com.project.melon.model.SubscribeVO" alias="subscribeVo"/>
	</typeAliases>

</configuration>