.user-detail-page table{
	font-size: 20px;
	
}

.user-detail-page td{
	padding: 20px;
	font-size: 17px;
	width: 500px;
}

.user-detail-page th{
	padding: 20px;
	background-color: #645f5f4f;
}



